
    <h1 class="my-4">Agregue sus URL'S</h1>
    <p class="my-4">Aqui tendrá almacenadas sus URL's, para utilizarlas solo de click en el boton copiar y peguela en su navegador.</p>

    {{> form}}

    {{#each url }}
        {{> card item=this}}
    {{/each}}

