
<h2 class="mt-5 mb-5">Registro para nuevos usuarios :</h2>

<div class="row justify-content-start my-6">
    <div class="col-md-6">
        <form action="/auth/register" method="post">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <input type="text" name="userName" class="form-control mb-2" placeholder="ingrese nombre :" value="bluuweb">
            <input type="text" name="email" class="form-control mb-2" placeholder="ingrese email :" value="bluuweb@test.com">
            <input type="password" name="password" class="form-control mb-2" placeholder="ingrese contraseña :" value="123123">
            <input type="password" name="repassword" class="form-control mb-2" placeholder="ingrese contraseña :" value="123123">
            <button class="btn btn-primary" type="submit">Registrar usuario</button>
        </form>
    </div>
</div>


